<div class="color">
    <span>{{$storage.usuario.NOMBRE}}</span>
    <span>{{$storage.usuario.NOMBRE}}</span>
    <button class="btn btn-primary" ng-click="cerrarSesion()">Cerrar Sesion</button>
    <img ng-src="{{$storage.usuario.FOTO}}" alt="">{{$storage.usuario.privilegios[0].FECALTA}}


    <div class="container">
        <div>personal</div>
        <div>permisos</div>
        <div>
            <button class="btn btn-primary" ng-show="">select</button>
        </div>
        <div>
            <button class="btn btn-success" ng-show="">create</button>
        </div>
        <div>
            <button class="btn btn-danger" ng-show="">delete</button>
        </div>
        <div>
            <button class="btn btn-warning" ng-show="">update</button>
        </div>
        <div>prueba 2</div>
        <div>permisos</div>
        <div>
            <button class="btn btn-primary" ng-show="">select</button>

        </div>
        <div>
            <button class="btn btn-success" ng-show="">create</button>

        </div>
        <div>
            <button class="btn btn-danger" ng-show="">delete</button>

        </div>
        <div>
            <button class="btn btn-warning" ng-show="">update</button>

        </div>
    </div>
</div>