<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Articulos</h1>
    </div>
    <div class="row backBlue1">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="search-query form-control" placeholder=" Buscar personal" />
                    <span class="input-group-btn">
                    <button class="btn" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
            <select class="form-control1 center-block" mobiscroll-select="settingsSelect" ng-model="filtro">
                <option>Ver articulos de:</option>
                <option>Refracciones</option>
                <option>Papeleria</option>
                <option>Uniformes y otros</option>
                <option>Hojalateria</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
            <button type="button" class="btn btns width100" data-toggle="modal" data-target="#NuevaAsistencia">Nuevo articulo</button>
        </div>
    </div>
    <div class="row backWhite1">
        <div class="table-responsive ">
            <table class="table table-striped">
                <thead>
                    <tr class="titleTable">
                        <th>CÓDIGO</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCIÓN</th>
                        <th>IMAGEN</th>
                        <th>STOCK MAX</th>
                        <th>STOCK MIN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="nameTable">12434</td>
                        <td class="nameTable">PASTA</td>
                        <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                        <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                        <td>1283</td>
                        <td>622</td>
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu miDro">
                                    <li>
                                        <a class="textNew"><i class="fa fa-eye" aria-hidden="true"></i> Ver articulo</a>
                                    </li>
                                    <li>
                                        <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="nameTable">12434</td>
                        <td class="nameTable">PASTA</td>
                        <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                        <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                        <td>1283</td>
                        <td>622</td>
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu miDro">
                                    <li>
                                        <a class="textNew"><i class="fa fa-eye" aria-hidden="true"></i> Ver articulo</a>
                                    </li>
                                    <li>
                                        <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="nameTable">12434</td>
                        <td class="nameTable">PASTA</td>
                        <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                        <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                        <td>1283</td>
                        <td>622</td>
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu miDro">
                                    <li>
                                        <a class="textNew"><i class="fa fa-eye" aria-hidden="true"></i> Ver articulo</a>
                                    </li>
                                    <li>
                                        <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade" id="NuevaAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="title">NUEVO REGISTRO DE ASISTENCIAS</h1>
            </div>
            <div class="modal-body">
                <form name="formAsistencias" class="">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="date" mobiscroll-calendar="settingsInput" class="form-inputs" id="fecha" name="fecha" required ng-model="datos.fecha"
                                    placeholder="Fecha">
                                <p class="textValid1 text-center" ng-show="formAsistencias.fecha.$error.required">Campo obligatorio</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-inputs" id="nombre" name="nombre" required ng-model="datos.nombre" placeholder="Nombre completo">
                                <p class="textValid1 text-center" ng-show="formAsistencias.nombre.$error.required">Campo obligatorio</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input mobiscroll-time="settingsDate" class="form-inputs" id="horaEntrada" name="horaEntrada" required ng-model="datos.horaEntrada"
                                            placeholder="Hora de Entrada">
                                        <p class="textValid1 text-center" ng-show="formAsistencias.horaEntrada.$error.required">Campo obligatorio</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input mobiscroll-time="settingsDate" class="form-inputs" id="horaSalida" name="horaSalida" required ng-model="datos.horaSalida"
                                            placeholder="Hora de Salida">
                                        <p class="textValid1 text-center" ng-show="formAsistencias.horaSalida.$error.required">Campo obligatorio</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-inputs" id="procedencia" name="procedencia" required ng-model="datos.procedencia" placeholder="Departamento">
                                <p class="textValid1 text-center" ng-show="formAsistencias.procedencia.$error.required">Campo obligatorio</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" ng-click="main.empresa(datos)" ng-disabled="formAsistencias.$invalid" class="btn btns hvr-float-shadow center-block">Guardar</button>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger hvr-float-shadow" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>