<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Personal</h1>
    </div>
    <div class="row">
        <div mobiscroll-data="events" mobiscroll-eventcalendar="settings" mobiscroll-instance="demo"></div>

        <label for="">Calendario entrada</label>
        <input ng-model="entrada" mobiscroll-calendar="settingsInput" />
        <label for="">Calendario salida</label>
        <input ng-model="salida" mobiscroll-calendar="settingsInput" />
    </div>
</section>