<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Calendario</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <form name="formCalendario" class="">
                <h4 class="title">Agregar día</h4>
                <div class="form-group">
                    <input type="text" class="form-inputs" id="nombre" name="nombre" required ng-model="datos.nombre" placeholder="Nombre">
                    <p class="textValid1 text-center" ng-show="formCalendario.nombre.$error.required">Campo obligatorio</p>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-inputs" id="descripcion" name="descripcion" required ng-model="datos.descripcion" placeholder="Descripción"
                        cols="10" rows="5" style="height:50px;"></textarea>
                    <p class="textValid1 text-center" ng-show="formCalendario.descripcion.$error.required">Campo obligatorio</p>
                </div>
                <div class="form-group">
                    <input class="form-inputs" id="fecha" name="fecha" mobiscroll-calendar="settingsInput" required ng-model="datos.fecha" placeholder="Fecha">
                    <p class="textValid1 text-center" ng-show="formCalendario.fecha.$error.required">Campo obligatorio</p>
                </div>
                <div class="text-center">
                    <button type="submit" ng-click="calendario.empresa(datos)" ng-disabled="formCalendario.$invalid" class="btn btns hvr-float-shadow center-block">Agregar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div mobiscroll-data="events" mobiscroll-eventcalendar="settings" mobiscroll-instance="demo" class="mtb20 bAzul"></div>
        </div>
    </div>
</section>