<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Control de Equipos Móviles</h1>
    </div>
    <div class="row backBlue1">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input class="form-inputs" id="fechaUno" name="fechaUno" mobiscroll-calendar="settingsInput" required ng-model="fechaUno"
                            placeholder="Buscar fecha inicial">
                        <p class="textValid1 text-center" ng-show="fechaUno.$error.required">Campo obligatorio</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input class="form-inputs" id="fechaDos" name="fechaDos" mobiscroll-calendar="settingsInput" required ng-model="fechaDos"
                            placeholder="Buscar fecha final">
                        <p class="textValid1 text-center" ng-show="fechaDos.$error.required">Campo obligatorio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <button type="button" class="btn btns width100" data-toggle="modal" data-target="#NuevoRegistro">Nuevo Registro</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
            <button type="button" class="btn btns width100" data-toggle="modal" data-target="#formatoEquipos">Formato Equipos</button>
        </div>
    </div>
    <div class="row backWhite1">
        <div class="table-responsive ">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="titleTable widthTab">
                        <th rowspan=2 class="text-center">ID</th>
                        <th rowspan=2 class="text-center">TELEFONO</th>
                        <th colspan=2 class="text-center"> LUNES
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> MARTES
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> MIERCOLES
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> JUEVES
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> VIERNES
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> SABADO
                            <p class="">FECHA</p>
                        </th>
                        <th colspan=2 class="text-center"> DOMINGO
                            <p class=>FECHA</p>
                        </th>
                        <th></th>
                    </tr>
                    <tr class="titleTable widthTab">
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td>RUTA</td>
                        <td>NOMBRE</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    <tr class="">
                        <td>1</td>
                        <td>5542325252</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>LMP2</td>
                        <td>sandra juarez lopez</td>
                        <td>
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu miDro">
                                    <li>
                                        <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="NuevoRegistro" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h1 class="txtF1 text-center">NUEVO REGISTRO DE EQUIPOS MÓVILES</h1>
            </div>
            <div class="modal-body">
                <form name="formVisita" class="">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="date" mobiscroll-calendar="settingsInput" class="form-inputs" id="fecha" name="fecha" required ng-model="datos.fecha"
                                    placeholder="Fecha">
                                <p class="textValid1 text-center" ng-show="formVisita.fecha.$error.required">Campo obligatorio</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-inputs" id="ruta" name="ruta" required ng-model="datos.ruta" placeholder="Ruta">
                                <p class="textValid1 text-center" ng-show="formVisita.ruta.$error.required">Campo obligatorio</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-inputs" id="telefono" name="telefono" required ng-model="datos.telefono" placeholder="Teléfono">
                                <p class="textValid1 text-center" ng-show="formVisita.telefono.$error.required">Campo obligatorio</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-inputs" id="nombre" name="nombre" required ng-model="datos.nombre" placeholder="Nombre completo">
                                <p class="textValid1 text-center" ng-show="formVisita.nombre.$error.required">Campo obligatorio</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" ng-click="main.empresa(datos)" ng-disabled="formVisita.$invalid" class="btn btns hvr-float-shadow center-block">Guardar</button>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger hvr-float-shadow" data-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Modal fotmato de Visitas>-->
<div class="modal fade" id="formatoEquipos" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="printSectionId">
                <div class="backFormato1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row pt60">
                        <div class="col-lg-12 pt60">
                            <img src="images/logo.png" class="center-block" width="120px" alt="">
                            <h3 class="txtF1 text-center" id="myModalLabel">DEPARTAMENTO DE VIGILANCIA</h3>
                            <h4 class="txtF2 text-center">CONTROL DE EQUIPOS MOVILES</h4>
                        </div>
                    </div>
                </div>
                <br>
                <div class="p5"><br>
                    <div class="table-responsive ">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="widthTab">
                                    <th rowspan=2 class="text-center">ID</th>
                                    <th rowspan=2 class="text-center">TELEFONO</th>
                                    <th colspan=2 class="text-center"> LUNES
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> MARTES
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> MIERCOLES
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> JUEVES
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> VIERNES
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> SABADO
                                        <p class=""></p>
                                    </th>
                                    <th colspan=2 class="text-center"> DOMINGO
                                        <p class=></p>
                                    </th>
                                </tr>
                                <tr class="">
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                    <td>RUTA</td>
                                    <td>NOMBRE</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="" style="height:40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
              <div class="backFormato2">
                <div class="row pt60">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-primary hvr-float-shadow pull-right" ng-click="printToCart('printSectionId')">Imprimir formato</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button type="button" class="btn btn-danger hvr-float-shadow pull-left" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>