<!--<section class="backLogin">
    <div class="container vcenter">
        <div class="row animated fadeInUp">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <div class="backWhite text-center">
                    <img src="images/logo.png" class="hvr-grow imgLogo" alt="">
                </div>
                <div class="backBlue">
                    <form name="loginForm">
                        <div class="form-group">
                            <input type="text" id="numEmpleado" class="miInput" name="numeroEmpleado" ng-model="login.numEmpleado" ng-maxlength="8" maxlength="8" placeholder="Número de empleado" required>
                            <span class="textValid" ng-show="loginForm.numeroEmpleado.$error.required">El número de empleado es obligatorio</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class=" miInput" id="passwordSic" name="passwordSic" placeholder="Contraseña" required ng-model="login.password">
                            <span class="textValid" ng-show="loginForm.passwordSic.$error.required">Campo necesario</span>
                        </div>
                        <button type="submit" class="btn btnLogin center-block hvr-bob" ng-click="loginFn(login)" ng-disabled="loginForm.$invalid">INICIAR SESIÓN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
-->
