<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Nomina </h1>
    </div>
    <!--<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row backBlue1">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder=" Buscar personal" />
                            <span class="input-group-btn">
                    <button class="btn" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                    <select class="form-control1 center-block" mobiscroll-select="settingsSelect" ng-model="filtro">
                <option>Filtrar por:</option>
                <option>Recursos Humanos</option>
                <option>Ventas</option>
                <option>Manteniemiento</option>
                <option></option>
            </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                    <button type="button" class="btn btns width100" data-toggle="modal" data-target="#nuevoEmpleado">Nuevo empleado</button>
                </div>
            </div>
            <div class="row backWhite1">
                <div class="table-responsive ">
                    <table class="table table-striped">
                        <thead>
                            <tr class="titleTable">
                                <th class=""></th>
                                <th class="">ID</th>
                                <th class="">CLAVE</th>
                                <th class="">AREA</th>
                                <th class="">NOMBRE</th>
                                <th class="">SALARIO POR DIA</th>
                                <th class="">DIAS TRABAJADOS</th>
                                <th class="">FALTAS</th>
                                <th class="">RETARDOS</th>
                                <th class="">SUELDO</th>
                                <th class="">AGUINALDO</th>
                                <th class="">PREMIO ASISTENCIA</th>
                                <th class="">PREMIO PUNTUALIAD</th>
                                <th class="">DOMINGO LABORADO</th>
                                <th class="">PRIMA DOMINICAL</th>
                                <th class="">VACACIONES</th>
                                <th class="">PRIMA VACACIONAL</th>
                                <th class="">HORAS EXTRAS DOBLES</th>
                                <th class="">DESCANSO LABORADO</th>
                                <th class="">DÍA FESTIVO</th>
                                <th class="">SUEDO ANTERIOR</th>
                                <th class="">TOTAL DE PERCEPCIONES</th>
                                <th class="">ANTICIPO DE NOMINA</th>
                                <th class="">PRESTAMO</th>
                                <th class="">INFONAVIT</th>
                                <th class="">DESCUENTO EQUIPO</th>
                                <th class="">IMSS</th>
                                <th class="">ISPT</th>
                                <th class="">SUBSIDIO</th>
                                <th class="">TOTAL DE DEDUCCIONES</th>
                                <th class="">NETO A PAGAR</th>
                                <th class="">TRANSPORTE</th>
                                <th class="">TOTAL A PAGAR</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable">#78622</td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                              <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable">#78622</td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                              <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable">#78622</td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <input type="text" class="form-inputs space" id="" name="" required ng-model="" placeholder="">
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>