<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Nomina </h1>
    </div>
    <!--<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 backWhite1">
            <div class="row backDarkblue p10">
                <a href="#/perfil">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <img src="images/profile.png" class="imgProfile1" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="textName">Gabriel Tsubaki</p>
                        <p class="textPuesto">Director general</p>
                    </div>
                </a>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row backBlue1">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder=" Buscar personal" />
                            <span class="input-group-btn">
                    <button class="btn" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                    <select class="form-control1 center-block" mobiscroll-select="settingsSelect" ng-model="filtro">
                <option>Filtrar por:</option>
                <option>Recursos Humanos</option>
                <option>Ventas</option>
                <option>Manteniemiento</option>
                <option></option>
            </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                    <button type="button" class="btn btns width100" data-toggle="modal" data-target="#nuevoEmpleado">Nuevo empleado</button>
                </div>
            </div>
            <div class="row backWhite1">
                <div class="table-responsive ">
                    <table class="table table-striped">
                        <thead>
                            <tr class="titleTable">
                                <th class="thWidth"></th>
                                <th class="thWidth">ID</th>
                                <th class="thWidth">CLAVE</th>
                                <th class="thWidth">NOMBRE <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                <th class="thWidth">SALARIO POR DIA</th>
                                <th class="thWidth">DIAS TRABAJADOS</th>
                                <th class="thWidth">FALTAS</th>
                                <th class="thWidth">RETARDOS</th>
                                <th class="thWidth">SUELDO</th>
                                <th class="thWidth">AGUINALDO</th>
                                <th class="thWidth">PREMIO ASISTENCIA</th>
                                <th class="thWidth">PREMIO PUNTUALIAD</th>
                                <th class="thWidth">DOMINGO LABORADO</th>
                                <th class="thWidth">PRIMA DOMINICAL</th>
                                <th class="thWidth">VACACIONES</th>
                                <th class="thWidth">PRIMA VACACIONAL</th>
                                <th class="thWidth">HORAS EXTRAS DOBLES</th>
                                <th class="thWidth">DESCANSO LABORADO</th>
                                <th class="thWidth">DÍA FESTIVO</th>
                                <th class="thWidth">SUEDO ANTERIOR</th>
                                <th class="thWidth">TOTAL DE PERCEPCIONES</th>
                                <th class="thWidth">ANTICIPO DE NOMINA</th>
                                <th class="thWidth">PRESTAMO</th>
                                <th class="thWidth">INFONAVIT</th>
                                <th class="thWidth">DESCUENTO EQUIPO</th>
                                <th class="thWidth">IMSS</th>
                                <th class="thWidth">ISPT</th>
                                <th class="thWidth">SUBSIDIO</th>
                                <th class="thWidth">TOTAL DE DEDUCCIONES</th>
                                <th class="thWidth">NETO A PAGAR</th>
                                <th class="thWidth">TRANSPORTE</th>
                                <th class="thWidth">TOTAL A PAGAR</th>
                                <th class="thWidth"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable alignV">#78622</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <th>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a class="textNew" href="#/perfil"><i class="fa fa-eye" aria-hidden="true"></i> Ver perfil</a>
                                            </li>
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                             <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable alignV">#78622</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <th>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a class="textNew" href="#/perfil"><i class="fa fa-eye" aria-hidden="true"></i> Ver perfil</a>
                                            </li>
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                             <tr>
                                <td>
                                    <div class="checkbox checkbox-primary text-center">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">
                                        </label>
                                    </div>
                                </td>
                                <td class="mailTable alignV">#78622</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <td class="alignV nameTable">sicamsa</td>
                                <th>
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu miDro">
                                            <li>
                                                <a class="textNew" href="#/perfil"><i class="fa fa-eye" aria-hidden="true"></i> Ver perfil</a>
                                            </li>
                                            <li>
                                                <a href="" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>