<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Unidad</h1>
    </div>
    <div class="row backWhite1">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <br>
            <button type="button" class="btn btns pull-right " data-toggle="modal" data-target="#editarPerfil"><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i> Editar</button>
        </div>
    </div>
    <div class="row tabDefault">
        <ul class="row miTab tabDefault">
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" ng-click="tabUnofn()">
                <a href="">
                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i>
                    <br> Datos de Identificación
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" ng-click="tabDosfn()">
                <a href="">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                    <br>Datos de Contacto
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" ng-click="tabTresfn()">
                <a href="">
                    <i class="fa fa-black-tie fa-lg" aria-hidden="true"></i>
                    <br> Datos Laborales
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" ng-click="tabCuatrofn()">
                <a href="">
                    <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                    <br> Documentos Personales
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-show="tabU">
                <div class="row backWhite1 ptb10">
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/1.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> FECHA DE NACIMIENTO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 16 diciembre de 1991</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/2.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> NACIONALIDAD:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Mexicana</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/3.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> CURP:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 83U2IHUDNJEBD</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/4.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">LICENCIA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 83U2IHUDNJEBD </span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/5.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">ESCOLARIDAD:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Ingenieria en sistemas computacionales </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/6.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">SEXO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Mujers</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/7.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">LUGAR DE NACIMIENTO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Puebla</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/3.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">RFC:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 83U2IHUDNJEBD</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/8.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">VIGENCIA DE LICENCIA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 16 diciembre de 1991</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="tabD">
                <div class="row backWhite1 ptb10">
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/9.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> DIRECCIÓN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Av. Tlalnepantla 24, Prado Ixtacala, 54160 Tlalnepantla, Méx.</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/10.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">ASENTAMIENTO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Mujers</span>
                            </div>
                        </div>

                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/11.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">EMAIL:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 83U2IHUDNJEBD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/12.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TELÉFONO FIJO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Mexicana</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/13.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TELÉFONO CELULAR:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Puebla</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="tabT">
                <div class="row backWhite1 ptb10">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/14.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">DEPARTAMENTO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV">Recursos Humanos</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/15.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">PUESTO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Gerente general</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/8.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">FECHA DE CONTRATACIÓN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 13 diciembre 1991</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/12.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TELÉFONO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 13 diciembre 1991</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/16.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">EXTENSIÓN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 13 diciembre 1991</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/28.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TALLA DE CAMISETA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> M</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/29.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TALLA DE PANTALÓN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 13</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/17.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">NÚMERO DE EMPLEADO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> #78324623</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/18.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">PRIVILEGIOS:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Editar , Eliminar</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/19.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">NÚMERO DE SEGURO SOCIAL:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 8723673d1</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/20.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">NÚMERO DE TARJETA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 1781263172837</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/21.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">INSTITUCIÓN BANCARIA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> bancomer</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/30.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">TALLA DE ZAPATOS:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 24</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row container-fluid">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtb20">
                            <h2 class="title">Asistencia</h2>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-lg-6">
                            <div class="row ptb10">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <img src="images/icons/8.png" class="imgIcon alignV" alt="">
                                    <span class="titleTab1 alignV">DIAS LABORALES</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV"> Lunes - Viernes</span>
                                </div>
                            </div>
                            <div class="row ptb10">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <img src="images/icons/31.png" class="imgIcon alignV" alt="">
                                    <span class="titleTab1 alignV">HORARIO DE COMIDA</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV"> 3pm - 4pm</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row ptb10">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <img src="images/icons/22.png" class="imgIcon alignV" alt="">
                                    <span class="titleTab1 alignV">HORARIO</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV"> 8am - 8pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtb20">
                            <h2 class="title">Ver por días</h2>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input class="form-inputs" id="fechaUno" name="fechaUno" mobiscroll-calendar="settingsInput" required ng-model="fechaUno"
                                        placeholder="Elegir fecha inicial">
                                    <p class="textValid1 text-center" ng-show="fechaUno.$error.required">Campo obligatorio</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input class="form-inputs" id="fechaDos" name="fechaDos" mobiscroll-calendar="settingsInput" required ng-model="fechaDos"
                                        placeholder="Elegir fecha final">
                                    <p class="textValid1 text-center" ng-show="fechaDos.$error.required">Campo obligatorio</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p0">
                            <div class="row ptb5">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <i class="fa fa-calendar-check-o AsistenciaIcon fa-lg" aria-hidden="true"></i>
                                    <span class="titleTab1 alignV">ASISTENCIAS</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV">12</span>
                                </div>
                            </div>
                            <div class="row ptb5">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <i class="fa fa-calendar-times-o faltaIcon fa-lg" aria-hidden="true"></i>
                                    <span class="titleTab1 alignV">FALTAS</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV">12</span>
                                </div>
                            </div>
                            <div class="row ptb5">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <i class="fa fa-calendar-minus-o retardoIcon fa-lg" aria-hidden="true"></i>
                                    <span class="titleTab1 alignV">RETARDOS</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <span class="textTab1 alignV">12</span>
                                </div>
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtb20">
                                <div mobiscroll-data="events" mobiscroll-eventcalendar="settings" mobiscroll-instance="demo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="tabCu" class="row backWhite1">
                <section>
                    <div class="row p10">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">ine</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento1.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">acta de naciemiento</span>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento1.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">curp</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">cartilla de servicio militar</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">carta de recomendación laboral 1</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">carta de recomendación laboral 2</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">curriculum vitae</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">constancia de ultimos estudios</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">comprobante de domicilio</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">licencia de manejo</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="p10">
                                <img src="images/documento.png" class="imgDoc" alt="">
                                <div class="desDoc">
                                    <div class="row p5">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span class="textDoc">alta del imms</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <span class="dropdown pull-right">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a data-toggle="modal" data-target="#documento" class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a href="" class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>