<section class="container-fluid marginRow">
    <div class="row">
        <h1 class="title">Artículo</h1>
    </div>
    <div class="row backWhite1">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="">
                <br>
                <img src="images/profile.png" class="imgProfile2 center-block" alt="">
                <h3 class="text-center textNew">Nombre del Artículo</h3>
                <h4 class="text-center textEdit">Nombre de familia</h2>
                    <br>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <br>
            <!--<button type="button" class="btn btns pull-right " data-toggle="modal" data-target="#editarPerfil"><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i> Editar</button>-->
        </div>
    </div>
    <div class="row tabDefault">
        <ul class="row miTab tabDefault">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" ng-click="tabUnofn()">
                <a href="">
                    <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                    <br> Datos de Generales
                </a>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" ng-click="tabDosfn()">
                <a href="">
                    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
                    <br>Movimientos
                </a>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" ng-click="tabTresfn()">
                <a href="">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    <br>Resguardos
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-show="tabU">
                <div class="row backWhite1 ptb10">
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/37.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> CÓDIGO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> #8127827</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/40.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> UNIDAD DE MEDIDA:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> cm</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/36.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV"> STOCK MAXIMO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 122O23</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/26.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">DESCRIPCIÓN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/38.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">ALMACÉN:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Papeleria</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/41.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">PROVEDOR:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Pablito industries</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/35.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">STOCK MINIMO:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> 100</span>
                            </div>
                        </div>
                        <div class="row ptb10">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <img src="images/icons/39.png" class="imgIcon alignV" alt="">
                                <span class="titleTab1 alignV">COMENTARIOS:</span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <span class="textTab1 alignV"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="tabD">
                <div class="row backWhite1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="titleTable">
                                    <th>CÓDIGO</th>
                                    <th>FECHA</th>
                                    <th>NOMBRE</th>
                                    <th>IMAGEN</th>
                                    <th>MOVIMIENTO</th>
                                    <th>STOCK MAX</th>
                                    <th>STOCK MIN</th>
                                    <th>DESCRIPCIÓN</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                                    <td class="nameTable">ENTRADA</td>
                                    <td class="nameTable">1283</td>
                                    <td class="nameTable">622</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                                    <td class="nameTable">ENTRADA</td>
                                    <td class="nameTable">1283</td>
                                    <td class="nameTable">622</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable"><img src="images/profile.png" class="imgProfile" alt=""></td>
                                    <td class="nameTable">SALIDA</td>
                                    <td class="nameTable">1283</td>
                                    <td class="nameTable">622</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="tabT">
                <div class="row backWhite1">
                    <div class="table-responsive ">
                        <table class="table table-striped">
                            <thead>
                                <tr class="titleTable">
                                    <th>CÓDIGO</th>
                                    <th>NOMBRE</th>
                                    <th>FECHA</th>
                                    <th>CANTIDAD</th>
                                    <th>PERSONAL ENTREGO</th>
                                    <th>PERSONAL RECIBIO</th>
                                    <th>COMENTARIOS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">2716562</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">2716562</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nameTable">12434</td>
                                    <td class="nameTable">PASTA</td>
                                    <td class="nameTable">12/03/17</td>
                                    <td class="nameTable">2716562</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">PERSONA</td>
                                    <td class="nameTable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h fa-2x alignV" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu miDro">
                                                <li>
                                                    <a class="textEdit"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                                                </li>
                                                <li>
                                                    <a class="textDelete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>